<%= stylesheet_link_tag 'custom' %>

<p style="color: green; text-shadow: 2px 2px 4px white;"><%= notice %></p>

<h1>Pacientes</h1>

<div id="pacientes">
  <% @pacientes.each do |paciente| %>
    <%= render paciente %>
    <p>
      <button onclick="window.location.href='<%= paciente_path(paciente) %>'">Mostrar esse paciente</button>
    </p>

  <% end %>
</div>

<button onclick="window.location.href='<%= new_paciente_path %>'">Novo paciente</button>
<br> <br>
<button onclick="window.location.href='/'">Voltar para a página inicial</button>


