<%= stylesheet_link_tag 'custom' %>

<p style="color: green; text-shadow: 2px 2px 4px white;"><%= notice %></p>

<%= render @paciente %>

<div>
  <button onclick="window.location.href='<%= edit_paciente_path(@paciente) %>'">Editar paciente</button> |
  <button onclick="window.location.href='<%= pacientes_path %>'">Voltar</button>

  <!-- <%= button_to "Remover paciente", @paciente, method: :delete %> -->
</div>
