<!DOCTYPE html>
<html>
<head>
  <title>Página de Consulta</title>
  <%= stylesheet_link_tag 'custom' %>
</head>
<body>
<div class="container">
  <p style="color: green;"><%= notice %></p>

  <h1>Consulta</h1>

  <div id="consulta">
    <% @consulta.each do |consultum| %>
      <%= render consultum %>
      <p>
        <%= link_to "Show this consultum", consultum %>
      </p>
    <% end %>
  </div>

  <button onclick="window.location.href='<%= new_consultum_path %>'">Nova consulta</button>
  <br> <br>
  <button onclick="window.location.href='/'">Voltar para a página inicial</button>
</div>
</body>
</html>
