<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        text-align: center;
        background-color: #007bff;
    }

    h1 {
        color: #fff;
        font-size: 32px;
    }

    p {
        color: green;
    }

    #consulta {
        margin-top: 20px;
        text-align: left;
    }

    #consulta p {
        margin-bottom: 10px;
    }

    #consulta a {
        color: #fff;
        text-decoration: none;
    }

    #consulta a:hover {
        text-decoration: underline;
    }
</style>

<p style="color: green"><%= notice %></p>

<%= render @consultum %>

<div>
  <%= link_to "Edit this consultum", edit_consultum_path(@consultum) %> |
  <%= link_to "Back to consulta", consulta_path %>

  <%= button_to "Destroy this consultum", @consultum, method: :delete %>
</div>
