<%= stylesheet_link_tag 'custom' %>

<p style="color: green; text-shadow: 2px 2px 4px white;"><%= notice %></p>

<%= render @consultum %>

<div>
  <button onclick="window.location.href='<%= edit_consultum_path(@consultum) %>'">Editar consulta</button> |
  <button onclick="window.location.href='<%= consulta_path %>'">Voltar</button>

  <form action="<%= consultum_path(@consultum) %>" method="post">
    <%= button_to "Apagar consulta", @consultum, method: :delete, data: { confirm: 'Are you sure?' } %>
  </form>

</div>
