<%= stylesheet_link_tag 'custom' %>

<p style="color: green; text-shadow: 2px 2px 4px white;"><%= notice %></p>

<h1>Médico <%= @medico.nome %></h1>


<%= render @medico %>

<hr>

<h1>Suas consultas </h1>

<div>
  <% @medico.consultas.each do |consulta| %>
    <%= render consulta %>
    <p>
      <button onclick="window.location.href='<%= consultum_path(consulta) %>'">Mostrar essa consulta</button>
    </p>
  <% end %>
  <hr>

  <button onclick="window.location.href='<%= edit_medico_path(@medico) %>'">Editar Médico</button> |
  <button onclick="window.location.href='<%= medicos_path %>'">Voltar</button>
</div>
